body {
  background-color: #e5ece9;
  color: rgba(50, 50, 50, 0.6);
}
div {
  background-color: #d6d1cd;
  padding: 15px;
  margin: 2em auto;
  margin-bottom: 2em;
  width: 50vw;
  text-align: center;
  border-radius: 6px;
  -webkit-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 62px 0px rgba(0, 0, 0, 0.1);
}
#profile-pic {
  height: 20vh;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.1);
}
h1 {
  font-family: "Roboto Slab", serif;
  font-size: 1.6em;
}
h2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.3em;
}
p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
}
#btn-website {
  text-decoration: none;
  color: white;
  background-color: #969a97;
  padding: 0.3em 0.7em;
  border-radius: 15px;
}
#btn-website:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
ul li {
  text-decoration: none;
  font-size: 1.6em;
  letter-spacing: 0.7em;
  margin-left: 0;
  text-align: center;
  display: inline-block;
}
li a {
  color: rgba(50, 50, 50, 0.6);
}
.btn:hover {
  color: rgba(0, 0, 0, 0.1);
}
iframe {
  border-radius: 9px;
  -webkit-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.1);
}
